body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#firstPart,
#secondPart{
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: 20px;
}

h1, h2, h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    margin: 15px 0;
}

a {
    font-weight: 500;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    margin: 0;
}

button {
    height: fit-content; 
    text-align: center; 
    margin-top: 20px; 
    padding: 3px 12px;
}

#colinear1Button, #colinear2Button {
    margin: 5px;
}
